/* Regole generali */

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
.container {
  height: 200px;
  width: 100%;
}

/* debug */

[class*="col-"] {
  background: pink;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
}

#nested {
  background: brown;
  border: 1px solid white;
}

#nido {
  width: 100%;
  padding: 3px;
  opacity: 50%;
}
